<% provide(:title, "Edit user") %> 
<h1>Update your Recipe</h1>

  <%= form_for(@recipe) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.label :recipe_name %>:</br>
      <%= f.text_field :recipe_name %>
    </div>
    <div class="field">
      <%= f.label :description %>:</br>
      <%= f.text_field :description %>
    </div>
    <div class="field">  
      <%= f.label :ingredients %>:</br>
      <%= f.text_field :ingredients %>
    </div>
    <div class="field">
      <%= f.label :directions %>:</br>
      <%= f.text_field :directions %>
    </div>
    <div class="field">
      <%= f.label :prep_time %>:</br>
      <%= f.text_field :prep_time %>
    </div>
    <div class="field">
      <%= f.label :cook_time %>:</br>
      <%= f.text_field :cook_time %>
    </div>
    <div class="actions">
      <%= f.submit "Edit recipe", class: "btn btn-large btn-primary" %>
    </div>



  <% end %>
