<h1>Recipes</h1>
<div class="span8">
      <ul class="field">
        <%= @recipe.recipe_name %></br>
        <%= @recipe.description %></br>
        <%= @recipe.ingredients %></br>
        <%= @recipe.directions %></br>
        <%= @recipe.prep_time %></br>
        <%= @recipe.cook_time %></br>
      </ul>

        <% if recipe_creator?(@recipe) %>
        <%= link_to "Edit", edit_recipe_path %>
        <% end %>

</div>