<h1><%= image_tag @recipe.image_url.to_s %>   <%= @recipe.recipe_name %></h1>
<div class="field">
      <ul class="field">
        <h3>Recipe Name:</h3>
        <%= @recipe.recipe_name %></br>
        <h3>Description:</h3>
        <%= @recipe.description %></br>
        <h3>Ingredients:</h3>
        <%= @recipe.ingredients %></br>
        <h3>Dirctions:</h3>
        <%= @recipe.directions %></br>
        <h3>Preperation Time:</h3>
        <%= @recipe.prep_time %></br>
        <h3>Cook Time:</h3>
        <%= @recipe.cook_time %></br>
      </ul>

      <% if signed_in? %>
        <% if recipe_creator?(@recipe) %>
        <%= link_to "Edit", edit_recipe_path %>
        <% end %>
      <% end %>
</div>
<div class="usercomments">
  <h3>Comments (<%= @recipe.comments.count %>)</h3>
  <section>
    <%= render 'shared/comment_form'  %>
  </section>
    <ol class="comments" >
      <% @comments.each do |comment| %>
        <div class="commenthead">               
          <%= comment.user.name %> - <%=time_ago_in_words(comment.created_at)%> ago 
            <% # display delete link only for comments written by this particular user %>
              <% if signed_in? and comment.user_id == current_user.id %>
                <span><%= link_to 'delete', recipe_comment_path(@recipe, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></span>
              <% end %> 
        </div>
        <div>
          <%= comment.content %>
        </div>
      <% end %>
    </ol>
    <%= will_paginate(@comments) %>
</div>

